Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.3
drf-spectacular==0.27.2
psycopg[binary]==3.2.1
dj-database-url==2.2.0
python-dotenv==1.0.1
celery==5.4.0
redis==5.0.7
ortools==9.10.4067
gunicorn==22.0.0
whitenoise==6.7.0
openpyxl==3.1.5
reportlab==4.2.2
pytest==8.3.2
pytest-django==4.8.0
factory-boy==3.3.0
